$space-arround-content: 2%;
$gallery-size: 250px;

body{
  min-width: 450px;
}

html {
  width: 99%;
  height: 92%;
}

.content {
  width: calc(100% - (2 * $space-arround-content));
  min-height: calc(100% - (2 * $space-arround-content));
  padding: $space-arround-content;
}

.galleries {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 0px;

  padding-left: calc($gallery-size / 10);
  padding-right: calc($gallery-size / 10);

  padding-bottom: calc($gallery-size / 5);

  a {
    color: black;
    text-decoration: none;
  }
  h1 {
    width: 100%;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 3em;
    margin-bottom: 0;
  }
  h2 {
    width: 100%;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
  }
}

.gallery {
  // background-image: url("https://images.pexels.com/photos/7003157/pexels-photo-7003157.jpeg");
  // background-image: url("https://cdn.pixabay.com/photo/2021/01/30/15/14/akita-5964180_960_720.jpg");
  background-image: url("https://cdn.pixabay.com/photo/2016/11/22/23/14/terrier-1851108_960_720.jpg");
  background-size: cover;
  width: $gallery-size;
  height: $gallery-size;
  border: solid 1px black;
  margin-left: calc($gallery-size / 10);
  margin-right: calc($gallery-size / 10);
  margin-top: calc($gallery-size / 5);
  margin-bottom: 0;
  display: flex;
  border-radius: 30% 5%;
  p {
    text-shadow: white 0px 0px 10px;
    align-self: flex-end;
    font-weight: bold;
    width: 100%;
    text-align: right;
    margin-right: 15%;
    margin-left: 3%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.gallery:hover {
  cursor: pointer;
}

.createGallery {
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url("https://cdn.iconscout.com/icon/free/png-256/add-plus-3114469-2598247.png");
}
