.add {
    border-radius: 50%;
}

.titleImage{
    text-align: center;
    color: white;
}

.image{
    position: relative;
    .suppimage{
        font-size: 20px;
        background-color: rgba(237, 237, 237, 0.7);
        border: none;
        position: absolute;
        right: 0;
        top: 0;
    }
}

#infgallery {
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 49%);
    gap: 10px;
    grid-auto-rows: 50px;
    align-items: center;

    .title {
        text-align: left;
        grid-column: 1;
        grid-row: 1;
    }

    .buttons {
        text-align: right;
        grid-column: 2;
        grid-row: 1;
        display: flex;
        justify-content: space-evenly;
    }

    .description {
        grid-column: 1 / 3;
        grid-row: 2;
    }

    .create {
        text-align: left;
        grid-column: 1;
        grid-row: 3;
    }

    .elements {
        text-align: right;
        grid-column: 2;
        grid-row: 3;
    }
}

#mygallery {
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .image {
        background-color: rgba(0, 0, 0, 0.3);
        margin: 2%;
        padding: 1%;
        img {
            aspect-ratio: auto;
            max-width: 400px;
            max-height: 400px;
            min-width: 200px;
            min-height: 200px;
        }
    }
}

@media (max-width: 700px) {
    #infgallery {
        grid-template-columns: repeat(2, 49%);
        grid-auto-rows: 70px;

        .title {
            text-align: center;
            grid-column: 1/3;
            grid-row: 1;
        }

        .buttons {
            text-align: center;
            grid-column: 1/3;
            grid-row: 4;
        }

        .description {
            grid-column: 1 / 3;
            grid-row: 2;
        }

        .create {
            text-align: left;
            grid-column: 1;
            grid-row: 3;
        }

        .elements {
            text-align: right;
            grid-column: 2;
            grid-row: 3;
        }
    }
}
