<!DOCTYPE html>
<html>
    <footer>
        <a href="/aboutMe"><h3><strong>A propos</strong></h3></a>
        <p>Leblanc Lilian - Bourlon Erwan - Jarosz Léa - Blanchard Loïc - Pfluger Julian</p>
    </footer>
</html>