<!DOCTYPE html>
<html lang="fr"></html>
<html>

	<head>
		<link rel="stylesheet" href="/css/master.css">
		<title>Fantastic-pic</title>
	</head>

	<body>
		<nav class="menuNav">
			<ul class="menuUl">
				<div>
					<li>
						<img class="picture" src="/media/logo.png">
					</li>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/">My Galleries</a>
					</li>
				</div>
				<div>
					<li class="account">
						<a href="#">Account</a>
						<ul>
							<li><a href="/signIn">Sign in</a></li>
							<li><a href="/signUp">Sign up</a></li>
						</ul>
					</li>
				</div>


			</ul>
		</nav>

		<video autoplay loop muted>
			<source src="https://static.videezy.com/system/resources/previews/000/008/153/original/Moving_Floor_V1_01.mp4" type="video/mp4">
		</video>

		<div class="content">
			<div id="gallery">
				<div id="infgallery">
					<div class="title">
						<h1>Galerie chiens</h1>
					</div>
					<div class="buttons">
						<input type="button" value="partager la galerie">
						<input type="button" value="modifier la galerie">
						<input type="button" class="add" value="+">
					</div>
					<div class="description">
						<p>Description :</p>	
						<p>Petite photo trop mignionne</p>
					</div>
					<div class="create">
						<label>Créateur : Erwan B.</label><br>
						<label>Date de création : 07/11/2022</label>
					</div>
					<div class="elements">
						<label>20 élément/s</label>
					</div>
				</div>

				<div id="mygallery">
					<div class="image">
						<img src="/media/2.jpg">
					</div>
					<div class="image">
						<img src="/media/1.jpg">
					</div>
					<div class="image">
						<img src="/media/3.jpg">
					</div>
					<div class="image">
						<img src="/media/4.jpg">
					</div>
					<div class="image">
						<img src="/media/4.jpg">
					</div>
					<div class="image">
						<img src="/media/4.jpg">
					</div>
					<div class="image">
						<img src="/media/4.jpg">
					</div>
					<div class="image">
						<img src="/media/1.jpg">
					</div>
					<div class="image">
						<img src="/media/2.jpg">
					</div>
					<div class="image">
						<img src="/media/2.jpg">
					</div>
					<div class="image">
						<img src="/media/3.jpg">
					</div>
				</div>
			</div>
		</div>

	</body>

</html>
