<!DOCTYPE html>
<html lang="fr"></html>
<html>

	<head>
		<link rel="stylesheet" href="/css/master.css">
		<title>Fantastic-pic</title>
	</head>

	<body>
		<nav id="menu">
			<ul>
				<div>
					<li>
						<img class="picture" src="/media/logo.png">
					</li>
					<li>
						<a href="#">Home</a>
					</li>
					<li>
						<a href="#">Gallerie</a>
					</li>
				</div>
				<div>
					<li class="account">
						<a href="#">Account</a>
						<ul>
							<li><a href="#">Sign in</a></li>
							<li><a href="#">Sign up</a></li>
						</ul>
					</li>
				</div>


			</ul>
		</nav>


		<div></div>


	</body>

</html>
