<!DOCTYPE html>
<html lang="fr"></html>
<html>

	<head>
		<link rel="stylesheet" href="/css/master.css">
		<title>Fantastic-pic</title>
	</head>

	<body>

		{% include 'navbar.twig' %}

		<div class="content">

			<div class="galleries">
				<h1>Painterest</h1>

				{% if private == true %}
					<h2>Private galleries</h2>
				{% else %}
					<h2>Public galleries</h2>
				{% endif %}

				{% for gallery in galleriesToShow %}
					<a href={{gallery.id}}><div class="gallery"><p>{{gallery.name}}</p></div></a>
				{% endfor %}

				{% if private == true %}
					<a href="/addGallery"><div class="gallery createGallery"></div></a>
				{% endif %}


			</div>

		</div>
	</body>

</html>
