<!DOCTYPE html>
<html lang="fr"></html>
<html>

	<head>
		<link rel="stylesheet" href="/css/master.css">
		<title>Fantastic-pic</title>
	</head>

	<body>

		<nav class="menuNav">
			<ul class="menuUl">
				<div>
					<li>
						<img class="picture" src="/media/logo.png">
					</li>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/">My Galleries</a>
					</li>
				</div>
				<div>
					<li class="account">
						<a href="#">Account</a>
						<ul>
							<li><a href="/signIn">Sign in</a></li>
							<li><a href="/signUp">Sign up</a></li>
						</ul>
					</li>
				</div>


			</ul>
		</nav>



		<video autoplay loop muted>
			<source src="https://static.videezy.com/system/resources/previews/000/008/153/original/Moving_Floor_V1_01.mp4" type="video/mp4">
		</video>

		<div class="content">

			<div class="galleries">
				<h1>Painterest</h1>

				<h2>Public galleries</h2>
				<div class="gallery">
					<p>Galerie canards canards canards canards canards</p>
				</div>
				<div class="gallery">
					<p>Galerie chiens</p>
				</div>
				<div class="gallery">
					<p>Lilian dans un parc</p>
				</div>
				<div class="gallery">
					<p>Galerie canards canards canards canards canards</p>
				</div>
				<div class="gallery">
					<p>Galerie chiens</p>
				</div>
				<div class="gallery">
					<p>Lilian dans un parc</p>
				</div>
				<div class="gallery">
					<p>Loic le bg</p>
				</div>
				<div class="gallery createGallery"></div>
			</div>

		</div>
	</body>

</html>
