<!DOCTYPE html>
<html lang="fr"></html>
<html>

	<head>
		<link rel="stylesheet" href="/css/master.css">
		<title>Fantastic-pic</title>
	</head>

	<body>

		{% include 'navbar.twig' %}

		<div class="content">

			<div class="myGalleries">
				<h1>Painterest</h1>

				{% if private == true %}
					<h2>Private galleries</h2>
				{% else %}
					<h2>Public galleries</h2>
				{% endif %}

				{% for gallery in galleriesToShow %}
					<div class="gallery"><p>{{gallery}}</p></div>
				{% endfor %}

				{% if private == true %}
					<div class="gallery createGallery"></div>
				{% endif %}


			</div>

		</div>
	</body>

</html>
