<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/css/master.css">
		<title>Fantastic-pic</title>
	</head>

	<body>

		{% include 'navbar.twig' %}

		<div class="containerFormGallery">
			<h1>
				<b>Modifier galerie</b>
			</h1>

			<p id="resultMessageUpload">{{resultMessage}}</p>
			<form class="retpir" action="/gallery/{{id}}" method="get">
				<input type="submit" value="retour a la gallery">
			</form>
			<form class="content" action="/modifyGallery/{{id}}" method="post" enctype="multipart/form-data">
				<label>
					<h2><b>Titre de la galerie</b></h2>
				</label>

				<input type="text" placeholder="Titre de la galerie" name="titleGalerie">
				<section>
					<fieldset>
						<legend>
							<h2><b>Selectionne l'accès de la galerie :</b></h2>
						</legend>

						<div>
							<input type="radio" id="public" name="drone" value="public" checked>
							<label for="public">Public</label>
						</div>

						<div>
							<input type="radio" id="private" name="drone" value="private">
							<label for="private">Privé</label>
						</div>
					</fieldset>
				</section>

				<label>
					<h2><b>Description</b></h2>
				</label>
				<input type="text" placeholder="Description" name="descriptionGalerie">

				<label>
					<h2><b>Tags</b></h2>
				</label>
				<input type="text" placeholder="Tags" name="tags">

				<section>
					<input class="sub" type="submit" id='submit' value='Modifier galerie'>
				</section>
			</form>

			<form  class="content" action="/home" method="post">
				<section>
					<input class="sub" type="submit" id='submit' value='Supprimer la galerie'>
				</section>
			</form>

		</div>

	</body>
</html>
