<!DOCTYPE html>
<html>
<head>
		<link rel="stylesheet" href="/css/master.css">
		<title>Fantastic-pic</title>
	</head>


<body>

	{% include 'navbar.twig' %}

<div id="containerForm">

<p id="resultMessageUpload">{{resultMessage}}</p>

<form action="/addImage" method="post" enctype="multipart/form-data">
  <label>
    <b>Titre de l'image</b>
  </label>
  <input type="text" placeholder="Titre de l'image" name="title" required>

  <label>
	<b>description</b>
   </label>
<input type="text" placeholder="description" name="description" required>

  Select image to upload:
  <input type="file" name="fileToUpload" id="fileToUpload">
  <input type="submit" value="Upload Image" name="submit">
</form>
</div>

</body>
</html>
