<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/css/master.css">
		<title>Fantastic-pic</title>
	</head>

	<body>
		<nav class="menuNav">
			<ul class="menuUl">
				<div>
					<li>
						<img class="picture" src="/media/logo.png">
					</li>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/">My Galleries</a>
					</li>
				</div>
				<div>
					<li class="account">
						<a href="#">Account
							{{account}}</a>
						<ul>
							{% if account == "" %}
								<li>
									<a href="/signIn">Sign in</a>
								</li>
								<li>
									<a href="/signUp">Sign up</a>
								</li>
							{% else %}
								<li>
									<a href="/logout">Logout</a>
								</li>
							{% endif %}
						</ul>
					</li>
				</div>
			</ul>
		</nav>

		<div class="containerFormGallery">
			<h2>
				<b>Nouvelle galerie</b>
			</h2>

			<p id="resultMessageUpload">{{resultMessage}}</p>

			<form action="/newGallery" method="post" enctype="multipart/form-data">
				<label>
					<b>Titre de la galerie</b>
				</label>

				<input type="text" placeholder="Titre de la galerie" name="titleGalerie" required>
				<section>
					<fieldset>
						<legend>
							<b>Selectionne l'accès de la galerie :</b>
						</legend>

						<div>
							<input type="radio" id="public" name="drone" value="public" checked>
							<label for="public">Public</label>
						</div>

						<div>
							<input type="radio" id="private" name="drone" value="private">
							<label for="private">Privé</label>
						</div>
					</fieldset>
				</section>

				<label>
					<b>Description</b>
				</label>
				<input type="text" placeholder="Description" name="descriptionGalerie" required>

				<label>
					<b>Tags</b>
				</label>
				<input type="text" placeholder="tags" name="tags">

				<section>
					<input type="submit" id='submit' value='Créer galerie'>
				</section>
			</form>
		</div>

	</body>
</html>
